
<!-- PTS Custom Script -->
<script type="text/javascript" src="/scripts/pts.js"></script>

<!-- Smooth Scroll Script -->
<script type="text/javascript" src="/scripts/smooth_scroll.js">

</script>
</body>
</html>
