<%- include("partials/header") -%>

<section id="intro" class="flex">
  <div id="pts-canvas"></div>
  <div class="flex">
    <div class="intro-content">
      <h1>Hell yeah</h1>
    </div>
    <div class="intro-content">
      <a href="#">TEST</a>
    </div>
  </div>

</section>

<%- include("partials/footer") -%>
