<%- include("partials/header") -%>

<div class="overflow-wrap">

  <section id="intro-seciton" class="flex">
    <div id="pts-canvas" class=""></div>
    <div class="flex">
      <div class="intro-content x-offset">
        <h1>Hello! I'm <span class="intro-heading-bold">Jerry Lee Melton,</span></h1>
        <h1>a web <span class="intro-heading-bold">developer</span> and <span class="intro-heading-bold">designer</span>.</h1>
      </div>
      <div id="intro-buttons-div" class="intro-content x-offset">

        <a href="#about-section" class="intro-button-link smooth-scroll-button">
          <button type="button" name="button" class="button intro-button">
            About <i class="fa-solid fa-chevron-down font-awesome-icon"></i>
          </button>
        </a>

        <a href="#portfolio-section" class="intro-button-link smooth-scroll-button">
          <button type="button" name="button" class="button intro-button">
            My Work <i class="fa-solid fa-chevron-down font-awesome-icon"></i>
          </button>
        </a>

      </div>
    </div>
  </section>


  <section id="about-section" class="section-wrapper">

    <div class="content-wrapper">

      <div class="section-header center-text">
        <h1>ABOUT ME</h1>
        <hr />
      </div>

      <div class="about-main">
        <div class="about-portrait-wrapper">
          <img src="/images/jlm-portrait.jpg" alt="Jerry-Portrait" class="about-portrait">
        </div>

        <div class="about-text">
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <a href="#contact-section" class="smooth-scroll-button">
            <button type="button" name="button" class="button about-button">
              Get in touch
            </button>
          </a>
        </div>

      </div>

      <div class="section-header center-text">
        <h2>
          MY SKILLS
        </h2>
        <hr />
      </div>


      <div class="skills-list-wrapper">
        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> HTML5
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> CSS3
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> JavaScript
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> JQuery
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Bootstrap 5
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Node.js
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> SQL (PostgreSQL)
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> EJS
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Git + GitHub
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> APIs
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Graphic Design
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Photo Editing
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Adobe Photoshop
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Adobe Illustrator
          </div>
        </div>

        <div class="skills-list-item invisible">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Invisible
          </div>
        </div>

      </div>

    </div>


  </section>



  <section id="portfolio-section" name="portfolio" class="section-wrapper">

    <div class="content-wrapper">
      <div class="section-header center-text">
        <h1>MY WORK</h1>
        <hr />
      </div>

      <img src="images/cryptospotter_thumb.jpg" alt="" class="modal-button portfolio-thumbnail" name="cryptospotter-modal">

      <!-- Modal Elements=================================================== -->

      <!-- CryptoSpotter -->
      <div id="cryptospotter-modal" class="modal-bg" name="cryptospotter-modal">
        <div class="modal">
          <img src="images/cryptospotter_detail.jpg" alt="">
          <hr class="modal-img-divider"/>

          <div class="modal-text">
            <h1>CryptoSpotter</h1>
            <h2>Cryptocurrency Dashboard</h2>
            <hr class="modal-text-hr"/>
            <p>CryptoSpotter is a simple cryptocurrency price dashboard that utilizes the CoinGecko API to display live, up-to-date prices for the most popular coins in the market.</p>

            <div class="modal-links-wrapper">
              <a href="https://crypto.jerryleemelton.com/" target="_blank">
                <button type="button" name="button" class="button">
                  VIEW SITE<i class="fa-solid fa-up-right-from-square font-awesome-icon"></i>
                </button>
              </a>

              <a href="https://github.com/JerryLeeMelton/CryptoSpotter-CryptoDashboard" target="_blank">
                <button type="button" name="button" class="button">
                  GITHUB REPO<i class="fa-solid fa-up-right-from-square font-awesome-icon"></i>
                </button>
              </a>
            </div>

            <a class="modal-close" name="cryptospotter-modal"><i class="fa-solid fa-circle-xmark"></i></a>

          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="contact-section" class="section-wrapper">

    <div class="content-wrapper">
      <div class="section-header center-text" id="contact-header">
        <h1>CONTACT ME</h1>
        <hr />
      </div>

      <div class="contact-form-wrapper">
        <form class="contact-form">

          <div class="contact-form-div">
            <label class="contact-form-label">Name</label>
            <input type="text" id="contact-name" class="contact-text contact-text-field">
            <br>
          </div>

          <div class="contact-form-div">
            <label for="">Email</label>
            <input type="text" id="contact-email" class="contact-text contact-text-field">
            <br>
          </div>

          <div class="contact-form-div">
            <label for="">Message</label>
            <textarea id="contact-message" rows="10" class="contact-text contact-text-area"></textarea>
          </div>

          <input type="submit" class="button contact-form-button" value="Send">
        </form>

      </div>

    </div>

  </section>

  <section id="footer-section">
    <div class="content-wrapper center-text">
      <span id="footer-text">© 2022, Jerry Lee Melton</span>
    </div>

  </section>

</div>



<%- include("partials/footer") -%>
