<%- include("partials/header") -%>

<div class="overflow-wrap">


  <section id="intro-seciton" class="flex">
    <div id="pts-canvas" class=""></div>
    <div class="flex">
      <div class="intro-content x-offset">
        <h1>Hello! I'm <span class="intro-heading-bold">Jerry Lee Melton,</span></h1>
        <h1>a web <span class="intro-heading-bold">developer</span> and <span class="intro-heading-bold">designer</span>.</h1>
      </div>
      <div id="intro-buttons-div" class="intro-content x-offset">

        <a href="#about-section" class="intro-button-link smooth-scroll-button">
          <button type="button" name="button" class="button intro-button">
            About <i class="fa-solid fa-chevron-down font-awesome-icon"></i>
          </button>
        </a>

        <a href="#portfolio-section" class="intro-button-link smooth-scroll-button">
          <button type="button" name="button" class="button intro-button">
            My Work <i class="fa-solid fa-chevron-down font-awesome-icon"></i>
          </button>
        </a>

      </div>
    </div>
  </section>


  <section id="about-section" class="section-wrapper">

    <div class="content-wrapper">

      <div class="section-header center-text">
        <h1>ABOUT ME</h1>
        <hr />
      </div>

      <div class="about-main">

        <div class="about-portrait-wrapper">
          <img src="/images/jlm-portrait.jpg" alt="Jerry-Portrait" class="about-portrait">
        </div>

        <div class="about-text">
          <p>I'm a web developer and graphic designer currently based in Portland, Oregon.  I have a huge passion for creative work as well as tech, so web development has been an incredibly rewarding field to dive into.</p>
          <p>I hope to leverage my extensive experience in photography and visual design as I move forward with my career and to continue learning more and more about this wonderful field of work.</p>
          <p>Outside of work, you'll find me playing guitar, buying too many Magic: The Gathering cards, and trying to find the best vegan food in the city.</p>
          <a href="#contact-section" class="smooth-scroll-button">
            <button type="button" name="button" class="button about-button">
              Get in touch
            </button>
          </a>
        </div>

      </div>

      <div class="section-header center-text">
        <h2>
          MY SKILLS
        </h2>
        <hr />
      </div>

      <div class="skills-list-wrapper">
        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> HTML5
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> CSS3
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> JavaScript
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> JQuery
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Bootstrap 5
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Node.js
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> SQL (PostgreSQL)
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> EJS
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Git + GitHub
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> APIs
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Wordpress
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Graphic Design
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Photo Editing
          </div>
        </div>

        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Adobe Photoshop
          </div>
        </div>


        <div class="skills-list-item">
          <div class="skills-list-inner-div">
            <i class="fa-solid fa-square-check checkbox-icon"></i> Adobe Illustrator
          </div>
        </div>

      </div>

    </div>

  </section>


  <section id="portfolio-section" name="portfolio" class="section-wrapper">

    <div class="content-wrapper">
      <div class="section-header center-text">
        <h1>MY WORK</h1>
        <hr />
      </div>

      <!-- Portfolio Thumbnails ============================================ -->

        <div class="portfolio-thumbs-wrapper">
          <img src="images/cryptospotter_thumb.jpg" alt="cryptospotter" class="modal-button portfolio-thumbnail" name="cryptospotter-modal">

          <img src="images/jlm-photo_thumb.jpg" alt="jlm-photo-portfolio" class="modal-button portfolio-thumbnail" name="jlm-photo-portfolio-modal">
        </div>

      <!-- Modal Elements=================================================== -->

      <!-- CryptoSpotter -->
      <div id="cryptospotter-modal" class="modal-bg" name="cryptospotter-modal">
        <div class="modal">
          <img src="images/cryptospotter_detail.jpg" alt="">
          <hr class="modal-img-divider" />

          <div class="modal-text">
            <h1>CryptoSpotter</h1>
            <h2>Cryptocurrency Dashboard</h2>
            <hr class="modal-text-hr" />
            <p>CryptoSpotter is a simple cryptocurrency price dashboard that utilizes the CoinGecko API to display live, up-to-date prices for the most popular coins in the market.</p>

            <div class="modal-links-wrapper">
              <a href="https://crypto.jerryleemelton.com/" target="_blank">
                <button type="button" name="button" class="button">
                  VIEW SITE<i class="fa-solid fa-up-right-from-square font-awesome-icon"></i>
                </button>
              </a>

              <a href="https://github.com/JerryLeeMelton/CryptoSpotter-CryptoDashboard" target="_blank">
                <button type="button" name="button" class="button">
                  GITHUB REPO<i class="fa-solid fa-up-right-from-square font-awesome-icon"></i>
                </button>
              </a>
            </div>

            <a class="modal-close" name="cryptospotter-modal"><i class="fa-solid fa-circle-xmark"></i></a>

          </div>
        </div>
      </div>

      <!-- JLM Photo Portfolio -->
      <div id="jlm-photo-portfolio-modal" class="modal-bg" name="jlm-photo-portfolio-modal">
        <div class="modal">
          <img src="images/jlm-photo_detail.jpg" alt="">
          <hr class="modal-img-divider" />

          <div class="modal-text">
            <h1>Photography.JerryLeeMelton.com</h1>
            <h2>Photography Portfolio</h2>
            <hr class="modal-text-hr" />
            <p>My design for my own personal photography portfolio website.  Designed to be clean, minimal, yet elegant.  Utilizes Nodemailer for the contact form.</p>

            <div class="modal-links-wrapper">
              <a href="https://photography.jerryleemelton.com/" target="_blank">
                <button type="button" name="button" class="button">
                  VIEW SITE<i class="fa-solid fa-up-right-from-square font-awesome-icon"></i>
                </button>
              </a>

              <a href="https://github.com/JerryLeeMelton/JerryLeeMelton-PhotographyPortfolio" target="_blank">
                <button type="button" name="button" class="button">
                  GITHUB REPO<i class="fa-solid fa-up-right-from-square font-awesome-icon"></i>
                </button>
              </a>
            </div>

            <a class="modal-close" name="jlm-photo-portfolio-modal"><i class="fa-solid fa-circle-xmark"></i></a>

          </div>
        </div>
      </div>

    </div>

  </section>


  <section id="contact-section" class="section-wrapper">

    <div class="content-wrapper">
      <div class="section-header center-text" id="contact-header">
        <h1>CONTACT ME</h1>
        <hr />
      </div>

      <div class="contact-form-wrapper">
        <form class="contact-form">

          <div class="contact-form-div">
            <label class="contact-form-label">Name</label>
            <input type="text" id="contact-name" class="contact-text contact-text-field">
            <br>
          </div>

          <div class="contact-form-div">
            <label class="contact-form-label">Email</label>
            <input type="text" id="contact-email" class="contact-text contact-text-field">
            <br>
          </div>

          <div class="contact-form-div">
            <label class="contact-form-label">Message</label>
            <textarea id="contact-message" rows="10" class="contact-text contact-text-area"></textarea>
          </div>

          <input type="submit" class="button contact-form-button" value="Send">
        </form>

      </div>

    </div>

  </section>

  <section id="footer-section">
    <div class="content-wrapper center-text">
      <span id="footer-text">© 2022, Jerry Lee Melton</span>
    </div>

  </section>

</div>

<%- include("partials/footer") -%>
