<%- include("partials/header") -%>

<div class="overflow-wrap">

  <section id="intro-seciton" class="flex">
    <div id="pts-canvas" class=""></div>
    <div class="flex">
      <div class="intro-content x-offset">
        <h1>Hello! I'm Jerry Lee Melton,</h1>
        <h1>a web developer and designer.</h1>
      </div>
      <div class="intro-content x-offset">
        <a href="#">
          <button type="button" name="button">
            Learn about me.
          </button>
        </a>

        <a href="#">
          <button type="button" name="button">
            See my work.
          </button>
        </a>

      </div>
    </div>
  </section>

  <section id="about-section">
    <h1>ABOUT ME</h1>
  </section>

  <section id="portfolio-section">
    <h1>MY WORK</h1>
  </section>

  <section id="contact-section">
    <h1>CONTACT ME</h1>
  </section>

  <section id="footer">
    © 2022, Jerry Lee Melton
  </section>

</div>



<%- include("partials/footer") -%>
