body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;

  font-family: "Lato", sans-serif;

  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {

}

hr {
  height: 3px;
  width: 5rem;
  background-color: red;
  border-style: none;
}

.overflow-wrap {
  overflow-x: hidden;
}

.x-offset {
  padding: 0 18px 0 0;
}

.center-text {
  text-align: center;
}

#intro-seciton {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #00FFFF;
}

#intro-seciton h1 {
  font-family: "JosefinSans", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

#pts-canvas {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#about-section {
  scroll-behavior: smooth;
}

.intro-heading-bold {
  font-family: "JosefinSans-Bold", sans-serif;
  font-weight: 700;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-content {
  z-index: 1;

}

.button {
  font-family: "Lato-Bold", sans-serif;
  font-weight: 900;
  font-size: 1.25rem;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #000000;
  padding: 0;

  width: 13rem;
  height: 3.5rem;

  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;

  transition: 0.3s;

  cursor: pointer;
}

.intro-button:hover {
  color: #00ffd6;
  background-color: rgba(255, 127, 0, 1);
  border-color: rgba(255, 127, 0, 1);

  transition: 0.3s;
}

/* Contact Form ============================================================= */

.contact-form-wrapper {
  width: 30rem;
  margin:auto;
}

.contact-label {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
}

.contact-text-field {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #f7f7f7;
  width: 100%;
  height: 2.4rem;
}

.contact-text-area {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #f7f7f7;
  width: 100%;
}

.contact-form-button {
  margin: 0;

  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 1);

  transition: 0.3s;
}

.contact-form-button:hover {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 1);

  transition: 0.3s;
}

.section-wrapper {
  width: 100%;
}

.content-wrapper {
  margin: auto;
  width: 80%;
  max-width: 1200px;
  min-width: 100px;   /* CHANGE ME  ===================================*/
}


/* Colors

Intro Blue: #00FFFF
Intro Green: #00FF85
Intro Button Hover: #00ffd6
Intro Button: #FF7F00 */
