/* HTML Tags================================================================= */
body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;

  font-family: "Lato", sans-serif;

  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

p {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.8rem;
}

hr {
  height: 3px;
  width: 5rem;
  background-color: #DCDCDC;
  border-style: none;
}

ul {
  list-style-type: none;
}

/* General Purpose ========================================================== */
.section-wrapper {
  width: 100%;
  padding-bottom: 6rem;
}

.overflow-wrap {
  overflow-x: hidden;
}

.x-offset {
  padding: 0 18px 0 0;
}

.center-text {
  text-align: center;
}

.section-header {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.invisible {
  visibility: hidden;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  font-family: "Lato-Bold", sans-serif;
  font-weight: 900;
  font-size: 1.25rem;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #000000;
  padding: 0;

  margin:auto;

  overflow: hidden;

  width: 15rem;
  height: 3.5rem;

  transition: 0.3s;

  cursor: pointer;
}

/* Intro Section ============================================================ */

#intro-seciton {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #00FFFF;
}

#intro-seciton h1 {
  font-family: "JosefinSans", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

#pts-canvas {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.intro-heading-bold {
  font-family: "JosefinSans-Bold", sans-serif;
  font-weight: 700;
}

.intro-content {
  z-index: 1;
}

.intro-button-link {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
}

.smooth-scroll-button {

}

.intro-button:hover {
  color: #00ffd6;
  background-color: rgba(255, 127, 0, 1);
  border-color: rgba(255, 127, 0, 1);

  transition: 0.3s;
}

/* About Seciton ============================================================ */
#about-section {
  scroll-behavior: smooth;
}

.about-main {
  display: flex;
}

.about-text {
  font-size: 1.25rem;
  max-width: 500px;
  min-width: 500px;
  margin: auto;
  line-height: 1.75;
}
3
.about-portrait-wrapper {
  margin: auto;
}

.about-portrait {
  margin-right: 2rem;
}

.about-button:hover {
  color: #FFFFFF;
  background-color: rgba(0, 186, 186, 1);
  border-color: rgba(0, 186, 186, 1);

  transition: 0.3s;
}

.skills-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;

  justify-content: center;
}

.skills-list-item {
  flex-basis: 30%;
  margin: 0.2rem;
}

.skills-list-inner-div {
  flex-basis: 30%;

  min-width: 190px;
  max-width: 230px;
  background-color: #00BABA;
  color: #FFFFFF;

  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem auto 0.5rem auto;
}

.checkbox-icon {
  margin: 0 1rem 0 0;
}

/* Portfolio Section ======================================================== */
#portfolio-section {
  background-color: #DCDCDC;
}

#portfolio-section hr {
  background-color: #FFFFFF;
}

/* Contact Form ============================================================= */
#contact-section {
  padding-bottom: 8rem;
}

#contact-header {
  padding-bottom: 2rem;
}

.contact-form-wrapper {
  width: 30rem;
  margin: auto;
}

.contact-form-div {
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.contact-form-label {

}

.contact-label {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
}

.contact-text {
  font-size: 1rem;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #f7f7f7;
  width: 100%;
}

.contact-text-field {
  height: 2.6rem;
}

.contact-text-area {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.contact-form-button {
  margin: 0;

  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 1);

  transition: 0.3s;
}

.contact-form-button:hover {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 1);

  transition: 0.3s;
}

.contact-form-wrapper input,
.contact-form-wrapper textarea {
  box-sizing: border-box;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.content-wrapper {
  margin: auto;
  width: 80%;
  max-width: 1200px;
  min-width: 100px;   /* CHANGE ME  ======================================================================*/
}

/* Footer Section =========================================================== */
#footer-section {
  background-color: #00BABA;
  color: #FFFFFF;
  height: 6rem;

  display: flex;
}

#footer-text {
  margin: auto;
}




/* Colors
Intro Blue: #00FFFF
Intro Green: #00FF85
Intro Button Hover: #00ffd6
Intro Button: #FF7F00 */
